node_modules/
dist/
coverage/

logs/*.log
reports/*
notifications/*
archive/*
data/input/*
data/output/*

!.gitkeep
!logs/.gitkeep
!reports/.gitkeep
!notifications/.gitkeep
!archive/.gitkeep
!data/.gitkeep
!data/input/.gitkeep
!data/output/.gitkeep
